<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>BotAdı | Web</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="logontext">
            <img class="logo" src=" https://cdn.discordapp.com/avatars/300573341591535617/a_1f905a91befc68cfd540f87ec76b5cb2.gif" alt="">
            <h1 class="text">WoxeOfficial</h1>
        </div>
        <div class="button-group">
            <a href="sunucu davet linki" class="btn">Katıl</a>
            <a href="bot davet linki" class="btn">Davet Et</a>
        </div>
    </header>
    
    <div class="first"  align="center">
        <h2>WoxeOfficial</h2>
        <p class="desc"> Bot Hakkında Açıklama</p>
        <img class = "desc-logo" src="https://cdn.discordapp.com/avatars/300573341591535617/a_1f905a91befc68cfd540f87ec76b5cb2.gif" alt="">
    </div>
    
    
    
    
    <footer class="footer"><p><i class="fa fa-heart"></i> WoxeOfficial#0001</p></footer>
    
</body>

</html>
